
# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Certificates / keys
*.crt
*.key
certs/

# macOS
.DS_Store
**/.terraform/*
**/.DS_Store
**/terraform.tfstate
**/terraform.tfstate.backup
