name: Terraform CI

on:
  pull_request:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  terraform:
    name: fmt / validate / plan (no-backend)
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      # Validate each root module (your envs)
      - name: Validate dev (no backend)
        working-directory: environments/dev
        run: |
          terraform init -backend=false
          terraform validate

      - name: Plan dev (no backend)
        working-directory: environments/dev
        env:
          TF_VAR_db_password: "dummy-password-for-ci"
        run: |
          terraform plan -backend=false -input=false -no-color
